@media screen and (min-width: 980px) {
  /* line 1, ../_sass/screen.scss */
  body {
    padding-top: 60px;
  }
}

/* line 6, ../_sass/screen.scss */
.sidebar-nav {
  padding: 9px 0;
}

/* line 9, ../_sass/screen.scss */
footer {
  margin-top: 1.5em;
}
